services:
  console:
    build:
      context: .
      dockerfile: Dockerfile
    command: tail -f /dev/null
    volumes:
      - .:/usr/src/app
      - /usr/src/app/.venv
    env_file:
      - .env
    restart: always

networks:
  backend:
    driver: bridge